name: Deploy Frontend
  
on: 
  push:
    branches:
    - main

defaults:
  run:
    working-directory: .

jobs:
  build:
#     permissions:
#       contents: write
      
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo Code
      uses: actions/checkout@v2
      
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '2.x'
        
    - name: Use Node.js 12.x
      uses: actions/setup-node@v3
      with:
        node-version: '12.x'
  
    - name: Install Packages
      run: npm ci
    
    - name: Setup environment
      run: |
        echo "MAPBOX_TOKEN=${{ secrets.MAPBOX_TOKEN }}" > $GITHUB_ENV
        echo "SOCRATA_API_URL=${{ secrets.SOCRATA_API_URL }}" >> $GITHUB_ENV
        echo "SOCRATA_TOKEN=${{ secrets.SOCRATA_TOKEN }}" >> $GITHUB_ENV

    - name: Build website
      run: npm run deploy
#     run: npm run build

#     - name: Build and deploy
#       uses: JamesIves/github-pages-deploy-action@4.1.1
#       with:
# #         TOKEN: ${{ secrets.ACCESS_TOKEN }}
#         FOLDER: .
#         BRANCH: gh-pages


